<div class="col-10 offset-1 description">
    <h1 class="text-center">Bitbox</h1> 
    <h2 class="text-center">Diceware password generator</h2>

    <p>
        This generated passphrase is one of 10²¹ alternatives that could have been chosen by this method.

        With so many possibilities, this passphrase will be very hard to guess by brute force.

        Your passphrase is especially suitable when directly used to encrypt information, like for full-disk encryption on your laptop or mobile device. The large number of possibilities makes it much harder for someone to crack even if they get ahold of your device and use encryption-cracking hardware. Other great uses are the passphrase for an encryption key (like your PGP or SSH key), or, especially, for unlocking a password safe or password manager application.
    </p>
</div>